page-home {
  .label-col {
    display: inline-block;
    .label-title {
      margin: 0;
    }
    ion-icon {
      color: white;
    }
  }

  .progress-col {
    progress-bar {
      div.progress-outer {
        margin-left: 0;
      }
    }
  }
}

