page-home {
  .label-col {
    display: inline-block;
    .label-title {
      margin: 0;
      font-size: 1.3em;
    }
    ion-icon {
      color: white;
    }
  }

  .label-col.money-col {
    ion-icon {
      //color: color($colors, primary);
    }
  }

  .progress-col {
    progress-bar {
      div.progress-outer {
        margin-left: 0;
      }
    }
  }
  .action-button-col {
    flex-direction: column;
    button {
      height: 3.3em;
      width: 3.3em;
    }
    .action-price-row, .action-button-row {
      justify-content: center;
    }
  }
  .action-button-col.debug-button-col {
    button {
      background-color: color($colors, danger);
    }
  }
  ion-grid.main-grid {
  }
}

