page-home {
  .label-col {
    display: inline-block;
    .label-title {
      margin: 0;
    }
    ion-icon {
      color: white;
    }
  }

  .progress-col {
    progress-bar {
      div.progress-outer {
        margin-left: 0;
      }
    }
  }
  .action-button-col {
    button {
      height: 3.3em;
      width: 3.3em;
    }
  }
  .action-button-col.debug-button-col {
    button {
      background-color: color($colors, danger);
    }
  }
}

