page-finance {
  .balance-title span {
    font-size: 100%;
  }
  .account-balance {
    text-align: center;
    font-size: 95%;
  }

  .money-flow {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    font-size: 150%;
  }
  .balance-row {
    margin-bottom: 1em;
  }
  .account-balance-row, .wallet-title {
    justify-content: flex-end;
  }
}
