<ion-grid class="status-grid">
  <ion-row class="status-row">
    <ion-col class="status-col">
      <ion-row>
        <ion-col class="label-col" col-6>
          <ion-row>
            <h4 class="label-title">Mood</h4>
          </ion-row>
          <ion-row>
            <span class="status-span">{{getStatus(player.mood, StatusTypes.Mood)}}</span>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="progress-col">
          <progress-bar [progress]="player.mood"
                        [color]="Helpers.getColor(player.mood)"></progress-bar>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="status-col">
      <ion-row>
        <ion-col class="label-col" col-6>
          <ion-row>
            <h4 class="label-title">Hunger</h4>
          </ion-row>
          <ion-row>
            <span class="status-span">{{getStatus(player.hunger, StatusTypes.Hunger)}}</span>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="progress-col">
          <progress-bar [progress]="player.hunger"
                        [color]="Helpers.getColor(player.hunger)"></progress-bar>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="status-col">
      <ion-row>
        <ion-col class="label-col" col-6>
          <ion-row>
            <h4 class="label-title">Health</h4>
          </ion-row>
          <ion-row>
            <span class="status-span">{{getStatus(player.health, StatusTypes.Health)}}</span>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="progress-col">
          <progress-bar [progress]="player.health"
                        [color]="Helpers.getColor(player.health)"></progress-bar>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="status-row">
    <ion-col class="label-col money-col">
      <ion-icon name="cash"></ion-icon>
      <h4 class="label-title">&nbsp;{{player.money | currency:'USD':'symbol':'1.2-2'}}</h4>
    </ion-col>
  </ion-row>
</ion-grid>
