page-career {
  .career-img-col {
    display: flex;
    .career-img {
      width: 150px;
      height: 150px;
      align-self: center;
    }
  }
  .needs-button-row {
    height: 125px;
    ion-col {
      display: flex;
      justify-content: center;
      ion-buttons {
        width: 100%;
        height: 100%;
        button {
          height: 100%;
          ion-icon {
            font-size: 2em;
          }
        }
      }
    }
  }
}
